.dropdownItem {
    display: flex;
    margin: 10px auto;
    color: #000;
    align-items: center;
}

.icon {
    padding-top: 5px;
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 500ms;
}

.dropdownItem a {
    max-width: 100px;
    margin-left: 10px;
    transition: 500ms;
}
